@{
    ViewBag.Title = "BugNET-MVC";
}

<div class="jumbotron">
    <h1>BugNET-MVC</h1>
    <p class="lead">MVC based version of BugNET with a compatible database schema to the current webforms version.</p>
    <p><a href="https://github.com/dubeaud/bugnet-mvc" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is just as an experiment to see how quickly it can come together through user contributions and improvements in the development process with the ASP.NET MVC web stack.
        </p>
        <p><a class="btn btn-default" href="https://github.com/dubeaud/bugnet">Learn more &raquo;</a></p>
    </div>

</div>